<body>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> Past Workouts </a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">New</a></li>
					<li><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>



<div class="container">
<table class="table table-striped">
	<thead>
<tr>
	<th>Date</th>
	<% # I need to mess with the DB & Workouts model to get date data %>
	<th>Air Squats</th>
	<th>Pushups </th>
	<th>Situps</th> 
	<th>Valdez Lifts</th>
	<th>Bench Press</th>
	<th>Back Row</th>
	<th>Squats</th>
	<th>Biceps</th>
	<th></th>
</tr>
	</thead>
<tbody>
<% @workouts.each do |workout| %>
<tr>
	<td><%= workout.id %></td>
	<% #Filling in column with ID for now %>
	<td align="center"><%= workout.airsquat_sets %> / <%= workout.airsquat_reps %></td>
	<td align="center"><%= workout.pushup_sets %> / <%= workout.pushup_reps %></td>
	<td align="center"><%= workout.situp_sets %> / <%= workout.situp_reps %></td>
	<td align="center"><%= workout.valdez_sets %> / <%= workout.valdez_reps %></td>
	<td align="center"><%= workout.bench_sets %> / <%= workout.bench_reps %></td>
	<td align="center"><%= workout.backrow_sets %> / <%= workout.backrow_reps %></td>
	<td align="center"><%= workout.squat_sets %> / <%= workout.squat_reps %></td>
	<td align="center"><%= workout.bicep_sets %> / <%= workout.bicep_reps %></td>
	<td align="center"><%= link_to 'Destroy', workout_path(workout), 
					method: :delete,
					data: { confirm: 'Are you sure?'} %></td>
</tr>
</tbody>
<% end %>
</table>
</div>
<br>
<%= link_to 'New Workout', new_workout_path %>
