
<body>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> New Workout </a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">New</a></li>
					<li><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>


<div class="container">
		<%= form_for :workout, url: workouts_path do |w| %>
	<p> Air Squat <br>
		<%= w.label :Sets %>
		<%= w.text_field :airsquat_sets %><br>
		<%= w.label :Reps %>
		<%= w.text_field :airsquat_reps %><br>
	</p>
	<p> Pushup <br>
		<%= w.label :Sets %>
		<%= w.text_field :pushup_sets %><br>
		<%= w.label :Reps %>
		<%= w.text_field :pushup_reps %><br>
	</p>
	<p> Situp <br>
		<%= w.label :Sets %>
		<%= w.text_field :situp_sets %><br>
		<%= w.label :Reps %>
		<%= w.text_field :situp_reps %><br>
	</p>
	<p> Valdez <br>
		<%= w.label :Sets %>
		<%= w.text_field :valdez_sets %><br>
		<%= w.label :Reps %>
		<%= w.text_field :valdez_reps %><br>
	</p>
	<p> Pike <br>
		<%= w.label :Sets %>
		<%= w.text_field :bench_sets %><br>
		<%= w.label :Reps %>
		<%= w.text_field :bench_reps %><br>
	</p>
	<p> Lunge <br>
		<%= w.label :Sets %>
		<%= w.text_field :backrow_sets %><br>
		<%= w.label :Reps %>
		<%= w.text_field :backrow_reps %><br>
	</p>
	<p> Bear Crawl <br>
		<%= w.label :Sets %>
		<%= w.text_field :squat_sets %><br>
		<%= w.label :Reps %>
		<%= w.text_field :squat_reps %><br>
	</p>
	<p> Bicepts<br>
		<%= w.label :Sets %>
		<%= w.text_field :bicep_sets %><br>
		<%= w.label :Reps %>
		<%= w.text_field :bicep_reps %><br>
	</p>
	<p>
	<%= w.submit %>
</p>
<% end %>
<%= link_to 'Home', workouts_path %>