<body>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> Workout Summary </a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">New</a></li>
					<li><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>



<div class="container">
	<p><strong>Air Squats </strong><br>
		Sets
		<strong><%= @workout.airsquat_sets %></strong><br>
		Reps
		<strong><%= @workout.airsquat_reps %></strong>
	</p>

	<p><strong>Pushups </strong><br>
		Sets
		<strong><%= @workout.pushup_sets %></strong><br>
		Reps
		<strong><%= @workout.pushup_reps %></strong>
	</p>

	<p><strong>Situps </strong><br>
		Sets
		<strong><%= @workout.situp_sets %></strong><br>
		Reps
		<strong><%= @workout.situp_reps %></strong>
	</p>

	<p><strong>Valdez Back Lift </strong><br>
		Sets
		<strong><%= @workout.valdez_sets %></strong><br>
		Reps
		<strong><%= @workout.valdez_reps %></strong>
	</p>

	<p><strong>Pike Pushups </strong><br>
		Sets
		<strong><%= @workout.pike_sets %></strong><br>
		Reps
		<strong><%= @workout.pike_reps %></strong>
	</p>

	<p><strong>Lunges </strong><br>
		Sets
		<strong><%= @workout.lunge_sets %></strong><br>
		Reps
		<strong><%= @workout.lunge_reps %></strong>
	</p>

	<p><strong>Bear Crawl </strong><br>
		Sets
		<strong><%= @workout.bearcrawl_sets %></strong><br>
		Reps
		<strong><%= @workout.bearcrawl_reps %></strong>
	</p>
	<%= link_to 'Home', workouts_path %>
